<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Copyright 2005-2007 The Kuali Foundation. Licensed under the
		Educational Community License, Version 1.0 (the "License"); you may
		not use this file except in compliance with the License. You may
		obtain a copy of the License at

		http://www.opensource.org/licenses/ecl1.php Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="glModuleConfiguration" parent="glModuleConfiguration-parentBean">
		<property name="packagePrefixes">
			<list merge="true">
				<value>edu.arizona.kfs.gl</value>
			</list>
		</property>
		<property name="initializeDataDictionary" value="true" />
		<property name="dataDictionaryPackages">
			<list merge="true">
                <value>edu/arizona/kfs/gl/businessobject/datadictionary</value>
                <value>edu/arizona/kfs/gl/document/datadictionary</value>
                <value>edu/arizona/kfs/gl/document/authorization</value>
                <!-- KFSI-4566 -->
                <value>edu/arizona/kfs/gl/batch/report</value>                
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list merge="true">
				<value>edu/arizona/kfs/gl/ojb-gl.xml</value>
			</list>
		</property>
	</bean>

	<!-- START MOD - MOD-FP-0073-01 - KITT-1192 -->
	<bean id="glOrganizationReversionCurrentYearAccountProcess" class="edu.arizona.kfs.gl.batch.service.impl.UaOrganizationReversionProcessImpl" scope="prototype">
		<property name="organizationReversionService" ref="organizationReversionService" />
		<property name="balanceService" ref="glBalanceService" />
		<property name="originEntryService" ref="originEntryService" />
		<property name="persistenceService" ref="persistenceService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="priorYearAccountService" ref="priorYearAccountService" />
		<property name="orgReversionUnitOfWorkService" ref="glOrgReversionUnitOfWorkService" />
		<property name="flexibleOffsetAccountService" ref="flexibleOffsetAccountService" />
		<property name="parameterService" ref="parameterService" />
		<property name="configurationService" ref="kualiConfigurationService" />
		<property name="cashOrganizationReversionCategoryLogic">
			<ref bean="glCashOrganizationReversionCategoryLogic" />
		</property>
		<property name="usePriorYearInformation" value="false" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
	</bean>
	
	<bean id="glOrganizationReversionPriorYearAccountProcess" class="edu.arizona.kfs.gl.batch.service.impl.UaOrganizationReversionProcessImpl" scope="prototype">
		<property name="organizationReversionService" ref="organizationReversionService" />
		<property name="balanceService" ref="glBalanceService" />
		<property name="originEntryService" ref="originEntryService" />
		<property name="persistenceService" ref="persistenceService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="priorYearAccountService" ref="priorYearAccountService" />
		<property name="orgReversionUnitOfWorkService" ref="glOrgReversionUnitOfWorkService" />
		<property name="flexibleOffsetAccountService" ref="flexibleOffsetAccountService" />
		<property name="parameterService" ref="parameterService" />
		<property name="configurationService" ref="kualiConfigurationService" />
		<property name="cashOrganizationReversionCategoryLogic">
			<ref bean="glCashOrganizationReversionCategoryLogic" />
		</property>
		<property name="usePriorYearInformation" value="true" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
	</bean>
	
	<bean id="globalTransactionEditService" class="edu.arizona.kfs.gl.service.impl.GlobalTransactionEditServiceImpl" >
		<property name="boService" ref="businessObjectService" />
		<property name="parmService" ref="parameterService" />
		<property name="originService" ref="homeOriginationService" />
	</bean>
	<!-- END MOD - MOD-FP-0073-01 - KITT-1192 -->
	
	<!-- KFSI-3935 KITT-2545 use the new Balance LHS instead -->
	<bean id="glBalanceLookupableHelperService" class="edu.arizona.kfs.gl.businessobject.lookup.UaBalanceLookupableHelperServiceImpl" scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<!--property name="dictionaryValidationService">
			<ref bean="dictionaryValidationService" />
			</property-->
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="balanceService">
			<ref bean="glBalanceService" />
		</property>
		<property name="generalLedgerPendingEntryService">
			<ref bean="generalLedgerPendingEntryService" />
		</property>
		<property name="postBalance">
			<ref bean="glPostBalance" />
		</property>
	</bean>
	
	<!-- START MOD - KFSI-3387/KITT-2531 / MOD-FP0069-02 Cash Transfer of Funds on Interfaced Budget Adjustments -->	
	<bean id="glPosterService" abstract="true" class="org.kuali.kfs.gl.batch.service.impl.PosterServiceImpl">
		<property name="transactionPosters">
			<list>
				<ref bean="glPostGlEntry" />
				<ref bean="glPostGlAccountBalance" />
				<ref bean="glPostSufficientFundBalances" />
				<ref bean="glPostReversal" />
				<ref bean="glPostEncumbrance" />
				<ref bean="glPostExpenditureTransaction" />
				<ref bean="glPostBudgetAdjustment" />	
				<ref bean="glPostBalance" />
			</list>			
		</property>
		<property name="flexibleOffsetAccountService">
			<ref bean="flexibleOffsetAccountService" />
		</property>
		<property name="verifyTransaction">
			<ref bean="glVerifyTransaction" />
		</property>
		<property name="originEntryService">
			<ref bean="originEntryService" />
		</property>
		<property name="originEntryGroupService">
			<ref bean="originEntryGroupService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="reversalDao">
			<ref bean="glReversalDao" />
		</property>
		<property name="universityDateDao">
			<ref bean="universityDateDao" />
		</property>
		<property name="accountingPeriodService">
			<ref bean="accountingPeriodService" />
		</property>
		<property name="expenditureTransactionDao">
			<ref bean="glExpenditureTransactionDao" />
		</property>
		<property name="indirectCostRecoveryRateDetailDao">
			<ref bean="indirectCostRecoveryRateDetailDao" />
		</property>
		<property name="budgetAdjustmentTransactionDao">
			<ref bean="glBudgetAdjustmentTransactionDao" />
		</property>
		<property name="objectCodeService">
			<ref bean="objectCodeService" />
		</property>
		<property name="configurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="parameterService">
			<ref bean="parameterService" />
		</property>
		<property name="runDateService">
			<ref bean="glRunDateService"/>
		</property>
		<property name="subAccountService">
			<ref bean="subAccountService"/>
		</property>
		<property name="offsetDefinitionService">
			<ref bean="offsetDefinitionService"/>
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService"/>
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService"/>
		</property>
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
		<property name="accountingCycleCachingService">
		  	<ref bean="accountingCycleCachingService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>
	
	<bean id="glPosterBACashTransferEntriesService" parent="glPosterService">
		<property name="reportWriterService">
			<ref bean="posterBACashTransferEntriesReportWriterService" />
		</property>
		<property name="errorListingReportWriterService">
			<ref bean="posterBACashTransferEntriesErrorListingReportWriterService" />
		</property>
		<property name="ledgerSummaryReportWriterService">
			<ref bean="posterBACashTransferEntriesLedgerSummaryReportWriterService" />
		</property>
	</bean>
	
	<bean id="glPosterBACashTransferGenerationService" parent="glPosterService">
		<property name="reportWriterService">
			<ref bean="posterBACashTransferGenerationReportWriterService" />
		</property>
	</bean>
			
	<!-- KITT-966 changed to unscheduled -->
	<bean id="posterJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="posterSortStep" />
				<ref bean="posterEntriesStep" />
				<ref bean="posterReversalStep" />
				<ref bean="posterIndirectCostRecoveryGenerationStep" />
				<ref bean="icrSortStep" />
				<ref bean="posterIndirectCostRecoveryEntriesStep" />
				<ref bean="posterBACashTransferGenerationStep" />
				<ref bean="posterBACashTransferSortStep" />
				<ref bean="posterBACashTransferEntriesStep" />
				<ref bean="fileRenameStep" />
				<ref bean="posterSummaryReportStep" />
				<ref bean="aggregateGlPosterReportsStep" />
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="scrubberJob" value="hardDependency" />
				<entry key="sufficientFundsAccountUpdateJob" value="hardDependency" />
			</map>
		</property>
	</bean>
	
	<bean id="posterBACashTransferEntriesReportWriterService" parent="reportWriterService">
		<property name="filePath" value="${temp.directory}"/>
		<property name="fileNamePrefix" value="posterJob_16_poster_batran"/>
        <property name="title" value="GL POSTER REPORT (BA CASH TRANSFER)"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
        	<map>
        		<entry key="org.kuali.kfs.gl.businessobject.OriginEntryFull" value="transactionReportHelper"/>
        		<entry key="org.kuali.kfs.gl.businessobject.Reversal" value="transactionReportHelper"/>
        	</map>
       	</property>
       	<property name="aggregationModeOn" value="true"/>
    </bean>

	<bean id="posterBACashTransferEntriesErrorListingReportWriterService" parent="reportWriterService">
		<property name="filePath" value="${temp.directory}"/>
		<property name="fileNamePrefix" value="posterJob_17_poster_batran_error_list"/>
        <property name="title" value="BA CASH TRANSFER Poster Error Transaction Listing"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
        	<map>
        		<entry key="org.kuali.kfs.gl.businessobject.OriginEntryFull" value="transactionListingReportHelper"/>
        	</map>
       	</property>
       	<property name="aggregationModeOn" value="true"/>
    </bean>

    <bean id="posterBACashTransferEntriesLedgerSummaryReportWriterService" parent="reportWriterService">
		<property name="filePath" value="${temp.directory}"/>
		<property name="fileNamePrefix" value="posterJob_18_poster_batran_ledger"/>
        <property name="title" value="BA CASH TRANSFER Poster Input Transactions"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
        	<map>
        		<entry key="org.kuali.kfs.gl.businessobject.LedgerSummaryTotalLine" value="ledgerSummaryTotalLineReportHelper" />
        		<entry key="org.kuali.kfs.gl.businessobject.LedgerBalanceTypeSummaryTotalLine" value="ledgerBalanceTypeSummaryTotalLineReportHelper" />
        		<entry key="org.kuali.kfs.gl.businessobject.LedgerSummaryDetailLine" value="ledgerSummaryDetailLineReportHelper" />
        	</map>
       	</property>
       	<property name="aggregationModeOn" value="true"/>
    </bean>
    
    <bean id="posterBACashTransferGenerationReportWriterService" parent="reportWriterService">
		<property name="filePath" value="${temp.directory}"/>
		<property name="fileNamePrefix" value="posterJob_19_batran_generation"/>
        <property name="title" value="BA CASH TRANSFER GENERATION REPORT"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
        	<map>
        		<entry key="org.kuali.kfs.gl.businessobject.OriginEntryFull" value="transactionReportHelper"/>
        		<entry key="edu.arizona.kfs.gl.businessobject.BudgetAdjustmentTransaction" value="budgetAdjustmentTransactionReportHelper"/>
        	</map>
       	</property>
       	<property name="aggregationModeOn" value="true"/>
    </bean>

	<bean id="posterBACashTransferGenerationStep" class="edu.arizona.kfs.gl.batch.PosterBACashTransferGenerationStep" parent="wrappedStep">
		<property name="wrappingBatchServices">
			<list>
				<ref bean="accountingCycleCachingService" />
				<ref bean="posterBACashTransferGenerationReportWriterService" />
			</list>
		</property>
		<property name="posterService" ref="glPosterBACashTransferGenerationService" />
	</bean>
	
	<bean id="posterBACashTransferEntriesStep" class="edu.arizona.kfs.gl.batch.PosterBACashTransferEntriesStep" parent="wrappedStep">
		<property name="wrappingBatchServices">
			<list>
				<ref bean="accountingCycleCachingService" />
				<ref bean="posterBACashTransferEntriesReportWriterService" />
				<ref bean="posterBACashTransferEntriesErrorListingReportWriterService" />
				<ref bean="posterBACashTransferEntriesLedgerSummaryReportWriterService" />
			</list>
		</property>
		<property name="posterService" ref="glPosterBACashTransferEntriesService" />
	</bean>
		
	<bean id="posterBACashTransferSortStep" class="edu.arizona.kfs.gl.batch.PosterBACashTransferSortStep" parent="step">
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
	</bean>
	
	<bean id="fileRenameStep" class="edu.arizona.kfs.gl.batch.FileRenameStep" parent="step">
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
	</bean>
		
	<bean id="glPostBudgetAdjustment" class="edu.arizona.kfs.gl.batch.service.impl.PostBudgetAdjustmentTransaction">
		<property name="accountingCycleCachingService">
		  	<ref bean="accountingCycleCachingService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="parameterService" ref="parameterService" />
	</bean>	
	
	<bean id="glBudgetAdjustmentTransactionDao" parent="platformAwareDao" class="edu.arizona.kfs.gl.dataaccess.impl.BudgetAdjustmentTransactionDaoOjb" />
	
	<bean id="budgetAdjustmentTransactionReportHelper" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="edu.arizona.kfs.gl.businessobject.BudgetAdjustmentTransaction" />
	    <property name="orderedPropertyNameToHeaderLabelMap">
    		<map>
    			<entry key="universityFiscalYear" value="YEAR"/>
    			<entry key="chartOfAccountsCode" value="COA"/>
    			<entry key="accountNumber" value="ACCOUNT"/>
    			<entry key="subAccountNumber" value="SACCT"/>
    			<entry key="financialObjectCode" value="OBJ"/>
    			<entry key="financialSubObjectCode" value="SOBJ"/>
    			<entry key="financialBalanceTypeCode" value="BT"/>
    			<entry key="financialObjectTypeCode" value="OT"/>
    			<entry key="universityFiscalPeriodCode" value="PRD"/>
    			<entry key="financialDocumentTypeCode" value="DTYP"/>
    			<entry key="documentNumber" value="RBC #"/>
    			<entry key="transactionLedgerEntrySequenceNumber" value="SEQ #"/>
    			<entry key="organizationDocumentNumber" value="DOC #"/>
    		</map>
	    </property>
	    <property name="columnCount" value="13" />
	</bean>
	
	<!-- END MOD -->
	<bean id="glMissingReportService" class="edu.arizona.kfs.gl.batch.service.impl.GlMissingReportServiceImpl">
		<property name="glMissingReportDao" ref="glMissingReportDao" />
	</bean>
	<bean id="glMissingReportDao" class="edu.arizona.kfs.gl.dataaccess.impl.GlMissingReportDaoJdbc" parent="platformAwareDaoJdbc" />
</beans>