<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <bean id="enActionListEmailService" class="edu.arizona.kew.mail.service.impl.CustomizableActionListEmailServiceImpl">
        <property name="deploymentEnvironment">
            <value>${environment}</value>
        </property>
        <property name="emailContentGenerator" ref="enEmailContentService"/>
    </bean>

	<bean id="enDocumentSearchResultsSizeDAO" class="edu.arizona.kew.docsearch.dao.impl.DocumentSearchResultsSizeDAOJdbcImpl" lazy-init="true">
		<property name="dataSource" ref="enWorkflowDataSource" />
	</bean>
</beans>
